Repository Littlehanger1234C2/mat-keyboard: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint -c ./src/tslint.json --fix, tslint -c ./projects/mat-keyboard/tslint.json --fix

.lintstagedrc.json:

{
  "ignore": ["CHANGELOG.md"],
  "linters": {
    "*.json": ["prettier --write", "git add"],
    "./src/**/*.ts": ["prettier --write", "tslint -c ./src/tslint.json --fix", "git add"],
    "./projects/mat-keyboard/**/*.ts": [
      "prettier --write",
      "tslint -c ./projects/mat-keyboard/tslint.json --fix",
      "git add"
    ]
  }
}

refactor: remove dark theme logic
  projects/mat-keyboard/src/lib/keyboard-config.ts
  projects/mat-keyboard/src/lib/keyboard-input.directive.ts
  projects/mat-keyboard/src/lib/keyboard-key/keyboard-key.component.ts
  projects/mat-keyboard/src/lib/keyboard.service.ts
  projects/mat-keyboard/src/lib/keyboard/keyboard.component.html
  projects/mat-keyboard/src/lib/keyboard/keyboard.component.ts
Due: prettier --write, tslint -c ./projects/mat-keyboard/tslint.json --fix

refactor(demo): follow up
  src/app/pages/home-page/home-page.component.html
  src/app/pages/home-page/home-page.component.ts
Due: prettier --write, tslint -c ./src/tslint.json --fix

refactor: remove isdebug logic
  projects/mat-keyboard/src/lib/keyboard-config.ts
  projects/mat-keyboard/src/lib/keyboard-input.directive.ts
  projects/mat-keyboard/src/lib/keyboard.service.ts
  projects/mat-keyboard/src/lib/keyboard/keyboard.component.html
  projects/mat-keyboard/src/lib/keyboard/keyboard.component.ts
Due: prettier --write, tslint -c ./projects/mat-keyboard/tslint.json --fix

refactor(lib): rework container component internals
  projects/mat-keyboard/src/lib/keyboard-animation.ts
  projects/mat-keyboard/src/lib/keyboard-animations.ts
  projects/mat-keyboard/src/lib/keyboard-container/keyboard-container.component.scss
  projects/mat-keyboard/src/lib/keyboard-container/keyboard-container.component.ts
  projects/mat-keyboard/src/public-api.ts
Due: prettier --write, tslint -c ./projects/mat-keyboard/tslint.json --fix

refactor(lib): rework keyboard ref
  projects/mat-keyboard/src/lib/keyboard-input.directive.ts
  projects/mat-keyboard/src/lib/keyboard-ref.ts
  projects/mat-keyboard/src/lib/keyboard.service.ts
  src/app/pages/home-page/home-page.component.ts
Due: prettier --write, tslint -c ./src/tslint.json --fix, tslint -c ./projects/mat-keyboard/tslint.json --fix

refactor(demo): minors
  angular.json
  src/app/main-layout/main-layout.component.ts
  src/app/pages/home-page/home-page.component.html
  src/app/shared/theme-picker/style-manager.service.ts
  src/app/shared/theme-picker/theme-picker/theme-picker.component.html
  src/app/shared/theme-picker/theme-picker/theme-picker.component.scss
  src/app/shared/theme-picker/theme-picker/theme-picker.component.ts
  src/test.ts
  src/themes/deeporange-bluegrey.scss
Due: prettier --write, tslint -c ./src/tslint.json --fix

refactor(lib): rework style sheets
  projects/mat-keyboard/src/lib/_keyboard-theme.scss
  projects/mat-keyboard/src/lib/keyboard-container/keyboard-container.component.scss
  projects/mat-keyboard/src/lib/keyboard-key/keyboard-key.component.html
  projects/mat-keyboard/src/lib/keyboard-key/keyboard-key.component.scss
  projects/mat-keyboard/src/lib/keyboard-key/keyboard-key.component.ts
  projects/mat-keyboard/src/lib/keyboard/keyboard.component.html
  projects/mat-keyboard/src/lib/keyboard/keyboard.component.scss
  projects/mat-keyboard/src/lib/keyboard/keyboard.component.ts
Due: prettier --write, tslint -c ./projects/mat-keyboard/tslint.json --fix

docs: update readme
  README.md
  screenshots/ngxmk-2.gif
  screenshots/ngxmk-2.stg
Due: none

build: add stylelint
  .lintstagedrc.json
  .markdownlint.json
  .stylelintignore
  .stylelintrc.json
Due: prettier --write

refactor(lib): minors
  projects/mat-keyboard/karma.conf.js
  projects/mat-keyboard/ng-package.json
  projects/mat-keyboard/package.json
  projects/mat-keyboard/src/lib/keyboard-container/keyboard-container.component.ts
  projects/mat-keyboard/src/lib/keyboard-key/keyboard-key.component.ts
  projects/mat-keyboard/src/lib/keyboard-layout.service.ts
  projects/mat-keyboard/src/lib/keyboard/keyboard.component.ts
Due: prettier --write, tslint -c ./projects/mat-keyboard/tslint.json --fix

build: add ci/cd pipeline
  .circleci/config.yml
  .coveralls.yml
  .gitignore
  angular.json
  package-lock.json
  package.json
  protractor.conf.js
Due: prettier --write

build: add utility scripts
  scripts/finish-release.sh
  scripts/start-release.sh
Due: none

test: update current test env
  angular.json
  package-lock.json
  package.json
  projects/mat-keyboard/test/lib/keyboard-input.directive.spec.ts
  projects/mat-keyboard/test/test.ts
  projects/mat-keyboard/tsconfig.spec.json
Due: prettier --write, tslint -c ./projects/mat-keyboard/tslint.json --fix

refactor(lib): change internal definitions
  projects/mat-keyboard/src/lib/keyboard-input.directive.ts
  projects/mat-keyboard/src/lib/keyboard/keyboard.component.ts
Due: prettier --write, tslint -c ./projects/mat-keyboard/tslint.json --fix

Updates
  index.html
Due: none

build: add scripts to publish demo app
  README.md
  package-lock.json
  package.json
Due: prettier --write
